<h1>My Dashboard</h1>

<br />
<br />

<%= link_to 'Home', root_path %>


<br />
  <% if user_signed_in? %>
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
  <% end %>
  I am <%= current_user.admin_level %>

  <br />
  <br />

  Welcome, <%= current_user.admin_level %>

  <br />
  <br />
  <br />
  Modules:
    <br />
    <br />
    <%= link_to 'Docs', module_doc_path %>
      <br />

  <% if current_user.type == "Sa" %>
    <%= link_to 'User Mod', module_usermod_path %> 
      <br />
    <%= link_to 'Client Mod', module_clientmod_path %>
  <% end %>
      <br />
